<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link rel="shortcut icon" href="/ico.png">
    <link rel="apple-touch-icon" href="/ico.png" />
    <link rel="stylesheet/less" type="text/css" href="/sheet1.less" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/3.9.0/less.min.js"></script>

</head>
<body>
    <noscript>
        For full functionality of this site it is necessary to enable JavaScript.
        Here are the <a href="https://www.enable-javascript.com/" target="_blank">
            instructions how to enable JavaScript in your web browser
        </a>.
    </noscript>
    <h1>Welcome to {{title}}</h1>
    <hr>
    <h2>Create a new:</h2>
    <form action="/new" method="post">
        <div>
        <label>Titel</label>
        <input type="text" id="title" name="title"></div><div>
        <label>Message</label>
        <input type="text" id="message" name="message"></div><div><button type="submit">Create</button><button type="reset">Reset</button></div>
    </form><hr><h2>Get Text: </h2><form  method="post" action="/get"><div><label>ID:</label><input type="number" id="id" name="id"></div><div><button type="submit">Open</button></div></form><hr>
    <p><a href="/github" target="_blank">GITHUB</a> | 
    <a href="/gitlab" target="_blank">GitLab</a> |
    <a href="/bit" target="_blank">BitBucket</a> | 
    <a href="/docker" target="_blank">DOCKER</a>  | 
    <a href="/npm" target="_blank">NPM</a> | 
    <a href="/chat" target="_blank">Devloper-Chat</a> | <a href="/ang" target="_blank">Experimental new UI</a></p>

   <script>	
        if('serviceWorker' in navigator){
            navigator.serviceWorker.register('/sw.js');
        }
     </script>
</body>
</html>